.image_container {
    display: flex;
    flex-direction:row; /* Stack items vertically on small screens */
}

.image_container img {
 max-width: 50%;
 height: auto;
}

.content {
    background-color: rgb(1, 65, 18);
    color: aliceblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size:60px;
    line-height: 1.6;
    max-width: 900px;
    text-align: center;
    padding-left:30px;
    padding-top:30px;

}
.icon{
    padding-top: 20px;
    display: block; /* Change flex-direction to block */
    margin: 0 auto; /* Center horizontally */
    height: 120px;
    width: 120px;
}


.description{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 23px; /* Add a font size to the description */
    line-height: 1.6; /* Adjust line height for better spacing */
    max-width: 800px; /* Add a maximum width to control the width of the paragraph */
    margin: 0 auto; /* Center the paragraph horizontally */
    margin-top:20px;
    padding:-20px; /* Add padding to separate the tagline and paragraph */
    text-align: center;
}

.roots h2, .mission h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size:30px;
    padding-top:40px;
}
.roots_icon,.mission_icon{
  
    padding-top:40px;
    display: block; /* Change flex-direction to block */
    margin: 0 auto; /* Center horizontally */
    height: 120px;
    width: 120px;
}


.roots, .mission{
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6; 
    font-size: 23px; 
    margin: 0 auto; 
    max-width: 800px;
}
