#Video_container {
    margin-top: 40px;
    display: flex;
    flex-direction:row; /* Stack items vertically on small screens */
}

video {
    max-width:50%;
    height: auto; /* Maintain video aspect ratio */
}

.content {
    background-color: rgb(58, 31, 2);
    color: aliceblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size:60px;
    line-height: 1.6;
    max-width: 900px;
    text-align: center;
    padding-left:30px;
    padding-top:30px;

}

.description{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 23px; /* Add a font size to the description */
    line-height: 1.6; /* Adjust line height for better spacing */
    max-width: 800px; /* Add a maximum width to control the width of the paragraph */
    margin: 0 auto; /* Center the paragraph horizontally */
    margin-top:20px;
    margin-bottom: 50px;
    padding:-20px; /* Add padding to separate the tagline and paragraph */
    text-align: center;
}
.newspaper-layout {
    display: flex;
    justify-content: space-between;
}

.news-item {
    flex-basis: calc(33.33% - 20px); /* Adjust width and margin as needed */
    margin: 0 10px; /* Adjust margins as needed */
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
}

.news-item img {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
}

.news-item p {
    font-size: 20px;
    line-height: 1.4;
    color: #333;
}
 .measure h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size:30px;
    padding-top:40px;
 }

 .measure{
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6; 
    font-size: 23px; 
    margin: 0 auto; 
    max-width: 800px;
 }